@use "../../../mixin.scss" as mixin;

.btn--basic {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		display: inline-block;
		font-size: mixin.$default-font-size;

		//change to button default styles
		border: none;
		cursor: pointer;
	}
}
