@use "../../../mixin.scss" as mixin;

.feature-box {
	background-color: rgba(mixin.$color-white, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(mixin.$color-black, 0.15);
	transition: all 0.3s;

	&__icon {
		font-size: 6rem;
		//We can do this as text because we have the icon as fonts
		@include mixin.font-gradient;
	}

	&__text {
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
}
