@use "../../mixin.scss" as mixin;

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, mixin.$color-primary-light, mixin.$color-primary-dark);

    &__shape--container {
        @include mixin.grid-container;
        //booking sliced effect
        background-image: linear-gradient(105deg, rgba(mixin.$color-white, .9) 0%, rgba(mixin.$color-white, .9) 50%, transparent 50%) ,url(../../img/nat-10.jpg);
        background-size: cover;

        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(mixin.$color-black, .8);

        height: 55rem;
        width: 80%;
    }

    &__form {
        width: 50%;
        padding: 6rem;

        .form {
            &__group:not(:last-child) {
                margin-bottom: 2rem;
            }

            &__input {
                display: block;
                width: 90%;
                color: inherit;
                font-size: 1.5rem;
                font-family: inherit;
                padding: 1.5rem 2rem;
                border: none;
                border-radius: 2px;
                background-color: rgba(mixin.$color-white, .5);
                border-bottom: 3px solid transparent;
                transition: all .4s;

                &:focus {
                    outline: none;
                    box-shadow: 0 1rem 2rem rgba(mixin.$color-black, .2);
                    border-bottom: 3px solid mixin.$color-primary-light;

                    &:invalid {
                        border-bottom: 3px solid mixin.$color-tertiary-dark;
                    }
                }

                &::placeholder {
                    color: mixin.$color-dark-grey-2;
                }
            }

            &__label {
                display: block;
                font-size: 1.2rem;
                font-weight: 700;
                margin-left: 2rem;
                margin-bottom: .7rem;
                transition: all .3s;
            }

            //form placeholder/label animation
            &__input:placeholder-shown + label {
                opacity: 0;
                //visibility cannot be animated, that's why opacity is here for
                visibility: hidden;

                transform: translateY(-4rem);
            }

            &__group--radio-buttons {
                display: flex;
            }

            &__radio-group {
                width: 50%;
                display: flex;
            }

            &__radio-label {
                font-size: mixin.$default-font-size;
                cursor: pointer;
            }

            &__radio-input {
                display: inline-block;
                height: 3rem;
                width: 3rem;
                border: 5px solid mixin.$color-primary-light;
                border-radius: 50%;
                margin-right: 1rem;
            }

            &__submit-button--container {
                padding: 2rem 0;
            }
        }
    }
}