@use "../../mixin.scss" as mixin;

.header {
	position: relative;
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(mixin.$color-primary-light, 0.8),
			rgba(mixin.$color-primary-dark, 0.8)
		),
		url(../../img/hero.jpg);
	background-size: cover;
	background-position: top;
	 //clip-path doesn't work on IE or Edge
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	display: grid;
	justify-content: center;
	align-items: center;

	// @include mixin.desktop {
	// 	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	// }

	&__logo-box {
		position: absolute;
		top: 2.5rem;
		left: 2.5rem;

		@include mixin.desktop {
			position: absolute;
			top: 4rem;
			left: 4rem;
		}
	}

	&__logo {
		height: 2rem;

		@include mixin.desktop {
			height: 3.5rem;
		}
	}

	&__text-box {
		/*  centering the old way
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    */
		text-align: center;

		@include mixin.desktop {
			margin-top: -10rem;
		}
	}
}

.heading-primary {
	color: mixin.$color-white;
	text-transform: uppercase;
	text-align: center;
	padding: 0 1rem;
	margin-bottom: 4rem;

	&--main {
		font-size: 4rem;
		letter-spacing: 0.5rem;
		font-weight: 700;

		@include mixin.desktop {
			font-size: 6rem;
			letter-spacing: 3.5rem;
			font-weight: 400;

			/* animation call */
			animation-name: moveInFromLeft;
			animation-duration: 3s;
		}
	}

	&--sub {
		font-size: 2rem;
		letter-spacing: 0.8rem;
		font-weight: 900;

		@include mixin.desktop {
			letter-spacing: 1.7rem;
			font-weight: 700;

			/* animation call */
			animation-name: moveInFromRight;
			animation-duration: 3s;
		}
	}
}
