@use "../../../mixin.scss" as mixin;

.popup {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 100%;
	background-color: rgba(mixin.$color-black, 0.8);
	z-index: 2500;

	opacity: 0;
	visibility: hidden;
	transition: all 1s;

	@include mixin.only-phones {
		overflow: scroll;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 75%;
		background-color: mixin.$color-white;
		border-radius: 3px;
		opacity: 0;
		transform: scale(0);
		transition: all 0.5s 0.2s;

		@include mixin.only-phones {
			width: 100%;
		}

		@include mixin.desktop {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}

		&--left {
			@include mixin.up-to-tablet {
				order: 2;
			}
		}

		&--right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 1rem 3rem;

			@include mixin.up-to-tablet {
				order: 1;
			}

			@include mixin.desktop {
				grid-column: 2 / span 3;
				padding: 3rem 5rem;
			}

			h2 {
				margin-bottom: 1.5rem;

				@include mixin.only-phones {
					font-size: 2.5rem;
				}
			}

			h3 {
				font-size: mixin.$default-font-size;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 1rem;
			}
		}
	}

	&__img {
		display: none;

		@include mixin.desktop {
			display: block;
			width: 100%;
		}
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 2rem;

		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;

		@include mixin.desktop {
			column-count: 2;
			column-gap: 4rem;
			column-rule: 1px solid mixin.$color-medium-grey;
		}
	}

	&__close {
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		border: none;
		font-size: 3rem;
		transition: all 0.4s;
		cursor: pointer;
		position: absolute;
		top: .3rem;
		right: .3rem;

		@include mixin.tablet {
			top: 2rem;
			right: 2rem;
		}

		&:hover {
			background-color: mixin.$color-primary-light;
			color: mixin.$color-white;
		}
	}
}

.show-modal {
	opacity: 1;
	visibility: visible;

	.popup__content {
		opacity: 1;
		transform: scale(1);
	}
}
