/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* 
Blue gradient (dark ocean)
#4286f4 -> rgb(66, 134, 244)
#373B44 -> rgb(55, 59, 68)

Blue scheme color (light to dark)
Name: Light Sky Blue
Hex: #86CEFA
RGB: (134, 206, 250)

Name: Aero
Hex: #73B9EE
RGB: (115, 185, 238)

Name: United Nations Blue
Hex: #5494DA
RGB: (84, 148, 218)

Name: Celtic Blue
Hex: #3373C4
RGB: (51, 115, 196)

Name: Sapphire
Hex: #1750AC
RGB: (23, 80, 172)

Name: Dark Powder Blue
Hex: #003396
RGB: (0, 51, 150)


*/


@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 15px;
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right bottom,
                                  rgba(66, 134, 244,0.8),
                                  rgba(55, 59, 68, 0.8)),
                    url(./img/hero.jpg);
  background-size: cover;
  background-position: top;

  display: grid;
  justify-content: center;
  align-items: center;
}

.logo-box {
  position: absolute;
  top: 25px;
  left: 25px;
}

.logo {
  height: 20px;
}

.text-box {
  /* 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  */
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 40px;
}

.heading-primary-main {
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 700;
}

.heading-primary-sub {
  font-size: 20px;
  letter-spacing: 8.4px;
  font-weight: 900;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
}

.btn-white {
  background-color: white;
  color: #777;
}

/* ================================= 
  Media Queries
==================================== */
@media only screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    body {
      padding: 30px;
    }
    
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    .logo-box {
      position: absolute;
      top: 40px;
      left: 40px;
    }
    
    .logo{
      height: 35px;
    }

    .text-box {
      margin-top: -100px;
    }
    
    .heading-primary-main {
      font-size: 60px;
      letter-spacing: 35px;
      font-weight: 400;
      
      /* animation call */
      animation-name: moveInFromLeft;
      animation-duration: 3s;
    }
    
    .heading-primary-sub {
      letter-spacing: 17.4px;
      font-weight: 700;
    
      /* animation call */
      animation-name: moveInFromRight;
      animation-duration: 3s;
    }

    /* transitioning hover and active states to animate */
    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0,0,0,.3);
    }

    .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0,0,0,.3);
    }
}

/* ================================= 
  Animations
==================================== */

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}