@use "./mixin.scss" as mixin;
@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

html {
	/* Getting 10px (if browser default is 16px) as root font size for easy rem measurement */
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: mixin.$default-font-size;
	line-height: 1.7;
	color: #777;
	padding: 1.5rem;
	@include mixin.desktop {
		& {
			padding: 3rem;
		}
	}
}

::selection {
	background-color: mixin.$color-primary-light;
	color: mixin.$color-white;
}

/* ================================= 
    Utility classes
==================================== */

.u-center-text {
	text-align: center;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
	margin-bottom: 4rem;
}
.u-margin-bottom-big {
	margin-bottom: 8rem;
}
