
/* ================================= 
  COLORS
==================================== */
/*

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* 
Blue gradient (dark ocean)
#4286f4 -> rgb(66, 134, 244)
#373B44 -> rgb(55, 59, 68)

Blue scheme color (light to dark)
Name: Light Sky Blue
Hex: #86CEFA
RGB: (134, 206, 250)

Name: Aero
Hex: #73B9EE
RGB: (115, 185, 238)

Name: United Nations Blue
Hex: #5494DA
RGB: (84, 148, 218)

Name: Celtic Blue
Hex: #3373C4
RGB: (51, 115, 196)

Name: Sapphire
Hex: #1750AC
RGB: (23, 80, 172)

Name: Dark Powder Blue
Hex: #003396
RGB: (0, 51, 150)
*/

@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Getting 10px (if browser default is 16px) as root font size for easy rem measurement */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 1.5rem;
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right bottom,
                                  rgba(66, 134, 244,0.8),
                                  rgba(55, 59, 68, 0.8)),
                    url(./img/hero.jpg);
  background-size: cover;
  background-position: top;

  display: grid;
  justify-content: center;
  align-items: center;
}

.header__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.header__logo {
  height: 2rem;
}

.header__text-box {
  /* 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  */
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 4rem;
}

.heading-primary--main {
  font-size: 4rem;
  letter-spacing: 1rem;
  font-weight: 700;
}

.heading-primary--sub {
  font-size: 2rem;
  letter-spacing: .8rem;
  font-weight: 900;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
}

.btn--white {
  background-color: white;
  color: #777;
}

/* ================================= 
  Media Queries
==================================== */
@media only screen 
  and (min-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    body {
      padding: 3rem;
    }
    
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    .header__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
    
    .header__logo{
      height: 3.5rem;
    }

    .header__text-box {
      margin-top: -10rem;
    }
    
    .heading-primary--main {
      font-size: 6rem;
      letter-spacing: 3.5rem;
      font-weight: 400;
      
      /* animation call */
      animation-name: moveInFromLeft;
      animation-duration: 3s;
    }
    
    .heading-primary--sub {
      letter-spacing: 1.7rem;
      font-weight: 700;
    
      /* animation call */
      animation-name: moveInFromRight;
      animation-duration: 3s;
    }

    .btn--animated {
      /* animation call */
      animation-name: moveInFromBottom;
      animation-duration: 3s;
      /* if we add a delay to this animation, animation-fill-mode:backwards would set 
      the values of the elements to its 0% animation to avoid, the rendering while the delay it's up */
      /* animation-fill-mode: backwards; */
    }

    /* transitioning hover and active states to animate */
    .btn:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    }

    .btn:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    }

    /* Expanding animation for button */
    /* .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      transition: all .4s;
    }

    .btn-white::after {
      background-color: white;
    }

    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    } */
}

/* ================================= 
  Animations
==================================== */

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}