/* ================================= 
    COLORS
==================================== */
/* 
Blue gradient (dark ocean)
#4286f4 -> rgb(66, 134, 244)
#373B44 -> rgb(55, 59, 68)

Blue scheme color (light to dark)
Name: Light Sky Blue
Hex: #86CEFA
RGB: (134, 206, 250)

Name: Aero
Hex: #73B9EE
RGB: (115, 185, 238)

Name: United Nations Blue
Hex: #5494DA
RGB: (84, 148, 218)

Name: Celtic Blue
Hex: #3373C4
RGB: (51, 115, 196)

Name: Sapphire
Hex: #1750AC
RGB: (23, 80, 172)

Name: Dark Powder Blue
Hex: #003396
RGB: (0, 51, 150)
*/

$color-white: #fff;
$color-light-grey: #f7f7f7;
$color-medium-grey: #eee;
$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-black: #000;

/*Gradient*/
$color-primary-light: #4286f4;
$color-primary-dark: #373b44;

/*Secondary Gradient*/
$color-secondary-light:#7ed56f;
$color-secondary-medium:#55c57a;
$color-secondary-dark:#28b485;

/*Tertiary Gradient*/
$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

/* Blue scheme color (light to dark) */
$color-light-sky-blue: #86cefa;
$color-aero: #73b9ee;
$color-united-nations-blue: #5494da;
$color-celtic-blue: #3373c4;
$color-sapphire: #1750ac;
$color-dark-powder-blue: #003396;

/* ================================= 
    Font
==================================== */
$default-font-size: 1.6rem;

/* ================================= 
    Grid
==================================== */
$grid-width: 114rem;
$grid-gap: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;

@mixin grid-container {
	margin: 0 auto;
	max-width: $grid-width;
	display: grid;
	grid-template-columns: 1fr;
	gap: $grid-gap;
}

@mixin adjust-top-corners {
	margin-top: -12rem;
}

/* ================================= 
    Gradient For Font
==================================== */
@mixin font-gradient {
	// text with gradient color
	display: inline-block;
	background-image: linear-gradient(
		to right,
		rgba($color-light-sky-blue, 0.8),
		rgba($color-dark-powder-blue, 0.8)
	);
	-webkit-background-clip: text;
	color: transparent;
	//end text with gradient color
}

/* ================================= 
    Media Queries
==================================== */
@mixin only-phones {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin only-tablet {
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
		@content;
	}
}

@mixin tablet {
	//tablets and up
	@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
		@content;
	}
}

/* ================================= 
    Animations
==================================== */

@keyframes moveInFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInFromRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInFromBottom {
	0% {
		opacity: 0;
		transform: translateY(10rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
