@use "../../../mixin.scss" as mixin;

.heading-secondary {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 8rem;
	letter-spacing: 0.2rem;
	transition: all 0.2s;

	@include mixin.font-gradient;

	&:hover {
		// transform: skewY(2deg) skewX(15deg) scale(1.1);
		transform: skewY(2deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba(mixin.$color-black, 0.2);
	}
}
