@use "../../../mixin.scss" as mixin;

.heading-secondary {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	// text with gradient color
	display: inline-block;
	background-image: linear-gradient(
		to right,
		rgba(mixin.$color-light-sky-blue, 0.8),
		rgba(mixin.$color-dark-powder-blue, 0.8)
	);
	-webkit-background-clip: text;
	color: transparent;
	//end text with gradient color
	margin-bottom: 8rem;
	letter-spacing: 0.2rem;
	transition: all 0.2s;

	&:hover {
		// transform: skewY(2deg) skewX(15deg) scale(1.1);
		transform: skewY(2deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba(mixin.$color-black, 0.2);
	}
}